{% extends 'base.html' %}
{% load static %}

{% block title %}همه ویدئو ها{% endblock %}

{% block content %}

    <main>

        <section class="py-5">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h2 class="title-section">همه ویدیوها</h2>

                </div>
                <div class="row">
                    <!-- item -->
                    {% for video in videos %}
                        <div class="col-md-6 col-lg-4 my-2">
                            <div class="custom-bg">
                                <div class="video-card">
                                    <a href="{% url 'video:detail' video.id video.slug %}" class="position-relative d-block ">
                                        <img src="{{ video.image.url }}" alt="" class="img-fluid w-100 h-100">
                                        <div class="video-play-btn">
                                            <i class="fa fa-play"></i>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between video-category-time">
                                            <h6 class="">{{ video.category.first }}</h6>
                                            <span class="vid-time">{{ video.time }} دقیقه</span>
                                        </div>
                                        <div class="video-card-details">
                                            <div>
                                                <span>{{ video.views }}</span>
                                                <i class="fa fa-eye"></i>
                                            </div>
                                            <div>
                                                <span>22</span>
                                                <i class="fa fa-heart"></i>
                                            </div>
                                            <div>
                                                <span>22</span>
                                                <i class="fa fa-comment"></i>
                                            </div>
                                        </div>
                                        <div class="article-overlay"></div>
                                    </a>

                                </div>
                                <a href="{% url 'video:detail' video.id video.slug %}">
                                    <h5 class="video-card-title m-2">{{ video.title }}</h5>
                                </a>
                                <div class="my-3 pb-3 mx-2">
                                    <i class="fa fa-user  ml-1 "></i>
                                    <span>{{ video.master.fullname }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- end item -->
                </div>

                <!-- PAGINATION -->
                <div class="d-flex align-items-center justify-content-center mb-3 pagination">
                    <a href="" class="mx-1"><i class="fa fa-chevron-right"></i></a>
                    <a href="" class="active mx-1">1</a>
                    <a href="" class="mx-1">2</a>
                    <a href="" class="mx-1">3</a>
                    <a href="" class="mx-1">4</a>
                    <a href="" class="mx-1">20</a>
                    <a href="" class="mx-1"><i class="fa fa-chevron-left"></i></a>
                </div>

            </div>
        </section>

    </main>


{% endblock %}