{% extends 'base.html' %}
{% load static %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}

    <main>

        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div>
                            <!-- video -->
                            <div class="video-player-box">
                                <div class="video-icon">
                                    <div class="btn video-btn" onclick="playvideo()" id="videobtn">
                                        <img src="{% static 'image/play-video-btn.png' %}" alt="">
                                    </div>
                                </div>
                                <div class="video">
                                    <video width="100%" id="myVideo" autoplay>
                                        <source src="{{ video.video.url }}" type="video/mp4">
                                    </video>
                                    <img src="{{ video.image.url }}" width="100%" height="100%"
                                         class="position-absolute video-poster" alt="">

                                    <div class="video-overlay"></div>
                                    <div class="video-description px-2 text-white">

                                        <p> {{ video.time }} دقیقه</p>
                                    </div>
                                    <h5 class="close-btn" onclick="stopPlayer()">X</h5>
                                </div>
                            </div>
                            <!-- end video -->
                            <!-- title -->
                            <h3 class="video-title my-3">{{ video.title }}</h3>
                            <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                                <p class="color78">{{ video.jalali_date }}</p>
                                <div class="d-flex align-items-center view-like">
                                    <div class="mx-3">
                                        <span>{{ video.views }}</span>
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <!-- LIKES -->
                                    <div>
                                        <span id="count">{{ video.video_likes.count }}</span>
                                        {% if is_liked %}
                                            <a onclick="like('{{ video.slug }}', '{{ video.id }}')">
                                                <i id="like" class="fa fa-heart liked" type='button'
                                                   aria-hidden="true"></i>
                                            </a>
                                        {% else %}
                                            <a onclick="like('{{ video.slug }}', '{{ video.id }}')">
                                                <i id="like" class="fa fa-heart view-like" type='button'
                                                   aria-hidden="true"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                                    <!-- END LIKES -->
                                </div>
                            </div>
                            <!-- description -->
                            <div class="border-bottom pb-3">
                                <h4 class="my-3">درباره فیلم</h4>
                                <p class="color78">{{ video.about_video|safe }}</p>

                                <div class="labels">
                                    <h4 class="my-3">برچسب ها</h4>
                                    <ul class="d-flex align-items-center">
                                        <li><a href="#" title="">#گردشگری</a></li>
                                        <li><a href="#" title="">#تفریحی </a></li>
                                        <li><a href="#" title="">#دشت نور</a></li>
                                        <li><a href="#" title="">#مکان های تفریحی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- end des -->

                            <!-- comments -->
                            <div>
                                <div class="py-3">
                                    <span>{{ comments.all.count }}</span>
                                    <span>نظر</span>
                                </div>
                                <!-- comment -->
                                {% for comment in video.video_comments.all %}
                                    {% if comment.parent == None %}
                                        <div class="comment my-3 p-2">
                                            <div class=" d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center justify-content-center">
                                                    {% if comment.user.image %}
                                                        <img src="{{ comment.user.image.url }}" alt="student"
                                                             class="user-profile">
                                                    {% else %}
                                                        <img src="{% static 'image/sutdent-prof.png' %}" alt="student"
                                                             class="user-profile">
                                                    {% endif %}
                                                    <p class="user-name pr-2">{{ comment.user.fullname }}</p>
                                                </div>

                                                <p class="comment-date-time">{{ comment.created|timesince }}</p>
                                            </div>
                                            <p class="px-4 py-2 comment-text text-justify">{{ comment.body }}</p>

                                            {#                                        <div class="d-flex align-items-center justify-content-end reply">#}
                                            {#                                            <i class="fa fa-reply"></i>#}
                                            <button onclick="set_value({{ comment.id }})" class="btn custom-btn">
                                                پاسخ به
                                                این نظر
                                            </button>
                                            {#                                        </div>#}
                                        </div>
                                        <!--Comment reply-->
                                        {% for reply in comment.children.all %}
                                            <div class="comment my-3 p-2 comment-child">
                                                <div class=" d-flex align-items-center justify-content-between">
                                                    <div class="d-flex align-items-center justify-content-center">
                                                        {% if reply.user.image %}
                                                            <img src="{{ reply.user.image.url }}" alt="student"
                                                                 class="user-profile">
                                                        {% else %}
                                                            <img src="{% static 'image/sutdent-prof.png' %}"
                                                                 alt="student"
                                                                 class="user-profile">
                                                        {% endif %}
                                                        <p class="user-name pr-2">{{ reply.user.fullname }}</p>
                                                    </div>
                                                    <p class="comment-date-time">{{ reply.created|timesince }}</p>
                                                </div>
                                                <p class="px-4 py-2 comment-text text-justify">{{ reply.body }}</p>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                {% if request.user.is_authenticated %}
                                    <form id="comment" action="#" method="post">
                                        {% csrf_token %}
                                        <input id="parent_id" type="hidden" name="parent_id" value="">

                                        <textarea name="body" rows="6" id="body" placeholder="متن نظر خود را وارد کنید"
                                                  required="" class="form-control"></textarea>

                                        <div class="d-flex align-items-center justify-content-end pt-3">
                                            <button type="submit" id="form-submit" class="btn custom-btn">ارسال
                                                نظر
                                            </button>
                                        </div>
                                    </form>
                                {% else %}
                                    <a href="{% url 'accounts:login' %}" class="btn btn-danger">برای قرار دادن نظر خود
                                        اول باید وارد سایت شوید</a>
                                {% endif %}
                                <!-- end comment -->
                                <!-- end comment child -->
                            </div>
                            <!-- end comments -->

                        </div>
                    </div>
                    <!-- main -->
                    <!-- side -->
                    <aside class="col-md-4 ">
                        <div class="custom-bg p-2 teacher-card">
                            <div class="border-bottom py-3 text-center">
                                <h4>درباره استاد</h4>
                            </div>
                            <div class="d-flex align-items-center py-3">
                                {% if video.master.image %}
                                    <img src="{{ video.master.image.url }}" alt="student" class="teacher-profile">
                                {% else %}
                                    <img src="{% static 'image/sutdent-prof.png' %}" alt="student" class="user-profile">
                                {% endif %}
                                <p class="user-name pr-2">{{ video.master.fullname }}</p>
                            </div>
                            {% if video.master.bio %}
                                <p class="color78 teacher-description py-3">{{ video.master.bio|safe }}</p>
                            {% else %}
                                <p class="color78 teacher-description py-3">درباره استاد خالی است</p>
                            {% endif %}

                            <div class="teacher-social-media d-flex align-items-center justify-content-center flex-wrap">
                                <a href=""> <i class="fa fa-instagram"></i></a>
                                <a href=""> <i class="fa fa-github"></i></a>
                                <a href=""> <i class="fa fa-linkedin"></i></a>
                                <a href=""> <i class="fa fa-twitter"></i></a>
                            </div>
                        </div>
                    </aside>
                    <!-- end side -->
                </div>
            </div>
        </section>

    </main>


    <script>
        // comment form
        function set_value(id) {
            document.getElementById('parent_id').value = id;
            window.location.href = "#body";
        }

        // video-player
        const videobtn = document.querySelector('.video-btn');
        const video = document.querySelector('.video');
        const videotag = document.querySelector('video')
        const videoDescription = document.querySelector('.video-description')
        const closeBtn = document.querySelector('.close-btn')
        const videoPoster = document.querySelector('.video-poster')
        const videoOverlay = document.querySelector('.video-overlay')

        function stopPlayer() {
            videobtn.style.display = "block";
            closeBtn.style.display = 'none';
            videoPoster.style.display = 'inline'
            video.style.zIndex = '-1'
            videotag.pause()
            videotag.style.borderRadius = '20px'
            videoDescription.style.display = 'flex'
            videotag.controls = false
            videotag.style.borderRadius = '15px'
            videoOverlay.style.display = 'block'
        }

        function playvideo() {
            videobtn.style.display = "none";
            video.style.zIndex = '22222'
            videotag.autoplay = true
            videotag.play()
            videotag.style.borderRadius = '20px'
            videotag.controls = true
            videoDescription.style.display = 'none'
            closeBtn.style.display = 'block'
            videoPoster.style.display = 'none'
            videoOverlay.style.display = 'none'
        }
    </script>

{% endblock %}